.image-2-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 5.7px;
  left: 172.1px;
  border-radius: var(--br-142xl-5);
  width: 80px;
  height: 80px;
  object-fit: cover;
  z-index: 0;
}
.divkmb-site-logo1 {
  width: 344px;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11.40999984741211px var(--padding-mini);
  box-sizing: border-box;
  position: relative;
}
.home1,
.list-item-link21 {
  display: flex;
  align-items: center;
}
.home1 {
  position: relative;
  line-height: 25.6px;
  width: 43.4px;
  height: 19px;
  flex-shrink: 0;
}
.list-item-link21 {
  text-decoration: none;
  flex: 1;
  height: 41.6px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: inherit;
}
.about-us1,
.contact-us3,
.services1 {
  position: relative;
  line-height: 25.6px;
  display: flex;
  align-items: center;
  width: 65.5px;
  height: 19px;
  flex-shrink: 0;
}
.contact-us3,
.services1 {
  width: 60.7px;
}
.contact-us3 {
  font-weight: 600;
  width: 79.3px;
}
.list-item-link24 {
  text-decoration: none;
  flex: 1;
  height: 41.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-lightsteelblue);
}
.contact-us4,
.divkmb-header-menu1 {
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
}
.divkmb-header-menu1 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-teal);
}
.contact-us4 {
  position: relative;
  line-height: 19.2px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  justify-content: center;
  width: 96.5px;
  height: 19px;
  flex-shrink: 0;
}
.divkmb-header-menu-extras1,
.list-item-link25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item-link25 {
  cursor: pointer;
  border: 1px solid var(--color-teal);
  padding: 0;
  background-color: var(--color-teal);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 142.2px;
  height: 45.2px;
}
.button-button:hover,
.list-item-link25:hover {
  background-color: var(--color-cadetblue-200);
}
.divkmb-header-menu-extras1 {
  flex: 1;
}
.header1,
.heading-31 {
  margin: 0;
  display: flex;
  align-items: center;
}
.header1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 111px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-371xl);
  box-sizing: border-box;
}
.heading-31 {
  position: relative;
  font-size: inherit;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  width: 118.6px;
  height: 28.8px;
  flex-shrink: 0;
}
.have-a {
  margin: 0;
}
.heading-1-container1 {
  width: 100%;
}
.frame3,
.heading-1-container {
  width: 267.5px;
  flex-shrink: 0;
  display: flex;
}
.heading-1-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-39xl);
  line-height: 69.6px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray);
  align-items: center;
  height: 134.6px;
}
.frame3 {
  height: 185.4px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.contact-us-whenever-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 19.2px;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray);
}
.email,
.frame2 {
  display: flex;
  flex-shrink: 0;
}
.frame2 {
  width: 349.7px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.email {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  width: 59.9px;
  height: 28.8px;
}
.frame5,
.list-item {
  width: 128.9px;
  flex-shrink: 0;
  display: flex;
}
.list-item {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray);
  align-items: center;
  height: 19px;
}
.frame5 {
  height: 60.8px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.list-item1,
.phone {
  position: relative;
  align-items: center;
}
.phone {
  margin: 0;
  font-size: inherit;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  width: 70px;
  height: 28.8px;
  flex-shrink: 0;
}
.list-item1 {
  font-size: var(--font-size-base);
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray);
  width: 120.2px;
  height: 19px;
}
.address,
.frame6,
.list-item1 {
  display: flex;
  flex-shrink: 0;
}
.frame6 {
  width: 120.2px;
  height: 60.8px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.address {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  width: 88.3px;
  height: 28.8px;
}
.frame7,
.list-item2 {
  width: 175.6px;
  flex-shrink: 0;
}
.list-item2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--color-darkslategray);
  display: flex;
  align-items: center;
  height: 19px;
}
.frame7 {
  height: 60.8px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame1,
.frame4,
.frame7 {
  display: flex;
  align-items: flex-start;
}
.frame4 {
  width: 175.6px;
  height: 259.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 38px;
}
.frame1 {
  width: 555.6px;
  flex-direction: row;
  justify-content: space-between;
}
.first-name {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 79.2px;
  height: 19px;
  flex-shrink: 0;
}
.divplaceholder {
  cursor: pointer;
  margin: 0 !important;
  position: absolute;
  top: 29.7px;
  left: 35.1px;
  width: 102px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.divplaceholder1,
.last-name {
  position: absolute;
  height: 19px;
}
.last-name {
  top: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 77.5px;
}
.divplaceholder1 {
  cursor: pointer;
  margin: 0 !important;
  top: 103.7px;
  left: 35.1px;
  width: 93px;
  z-index: 1;
}
.email-address {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 108.9px;
  height: 19px;
  flex-shrink: 0;
}
.divplaceholder2 {
  cursor: pointer;
  margin: 0 !important;
  position: absolute;
  width: calc(100% - 382px);
  top: 177.7px;
  right: 363.9px;
  left: 18.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.phone1 {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 46.3px;
  height: 19px;
  flex-shrink: 0;
}
.divplaceholder3 {
  cursor: pointer;
  margin: 0 !important;
  position: absolute;
  width: calc(100% - 454px);
  top: 250.7px;
  right: 403.9px;
  left: 50.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}
.input,
.input1 {
  width: calc(100% - 253px);
  right: 92.9px;
}
.input {
  border: 0;
  outline: 0;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  top: 162.7px;
  left: 160.1px;
  border-bottom: 1px solid var(--color-teal);
  box-sizing: border-box;
  height: 50px;
  cursor: text;
  z-index: 4;
}
.input1 {
  top: 236.7px;
  z-index: 5;
}
.input1,
.input2,
.input3 {
  border: 0;
  outline: 0;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  left: 160.1px;
  border-bottom: 1px solid var(--color-teal);
  box-sizing: border-box;
  height: 50px;
  cursor: text;
}
.input2 {
  width: calc(100% - 253px);
  top: 88.7px;
  right: 92.9px;
  z-index: 6;
}
.input3 {
  top: 14.7px;
  width: 265px;
  z-index: 7;
}
.button-button,
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 19.2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  width: 59.3px;
  height: 19px;
  flex-shrink: 0;
}
.button-button {
  margin: 0 !important;
  position: absolute;
  top: 325.7px;
  left: 218.1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-teal);
  border: 1px solid var(--color-teal);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  flex-direction: column;
  cursor: pointer;
  z-index: 8;
}
.frame,
.frame8 {
  height: 436px;
  display: flex;
  justify-content: space-between;
}
.frame8 {
  width: 518px;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.frame {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
}
.divkmb-site-page1,
.iframe-body {
  display: flex;
  flex-direction: column;
}
.iframe-body {
  border: 0;
  background-color: gray;
  width: 1110px;
  height: 213px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.divkmb-site-page1 {
  align-self: stretch;
  height: 775px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 405px 38px;
  box-sizing: border-box;
  gap: 64px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-teal);
  font-family: var(--font-ubuntu);
}
.copyright-swms-2023-24-container2 {
  position: relative;
  line-height: 14.4px;
  display: flex;
  align-items: center;
  width: 613px;
  height: 97px;
  flex-shrink: 0;
  z-index: 0;
}
.image-2-icon3 {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 79.5px;
  border-radius: var(--br-142xl-5);
  width: 80px;
  height: 80px;
  object-fit: cover;
  z-index: 1;
}
.spankmb-widget-rich-text1 {
  width: 685px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.divkmb-site-footer-content {
  align-self: stretch;
  height: 131px;
  justify-content: center;
  padding: 34.600006103515625px 842.8300170898438px 34.600006103515625px
    842.8099975585938px;
  box-sizing: border-box;
}
.contact-us2,
.divkmb-site-footer-content,
.footer1 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer1 {
  align-self: stretch;
  height: 140px;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-teal);
  font-family: var(--font-roboto);
}
.contact-us2 {
  position: relative;
  width: 100%;
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .contact-us2 {
    width: 120rem;
  }
}
